app/overview/*.yaml


# Logs
chat/serverless-chat/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

chat/verless-chat/node_modules/
chat/verless-chat/dist
chat/verless-chat/dist-ssr
*.local

# Editor directories and files
chat/serverless-chat/.vscode/*
chat/serverless-chat/!.vscode/extensions.json
chat/serverless-chat/.idea
chat/serverless-chat/.DS_Store
chat/serverless-chat/*.suo
chat/serverless-chat/*.ntvs*
chat/serverless-chat/*.njsproj
chat/serverless-chat/*.sln
chat/serverless-chat/*.sw?
