/* to add the root styles later on */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inconsolata', monospace;
}

body {
	min-height: 100vh;
}

.navbar {
	position: fixed;
	top: 1.25rem;
	left: 1.25rem;
	bottom: 1.25rem;
	width: 15rem;
	border-radius: 0.625rem;
	/* border-left: 0.3125rem solid green; */
	box-sizing: initial;
	background: rgb(109, 114, 114);
	transition: width 0.5s;
}

.navbar ul {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 0;
	left: 0;
	width: 100%;
	padding-left: 0.625rem;
	padding-top: 2.5rem;
}

.navbar ul li {
	position: relative;
	list-style: none;
	width: 100%;
	border-top-left-radius: 1.25rem;
	border-bottom-left-radius: 1.25rem;
}

.navbar ul li.active:hover {
	background: blanchedalmond;
}

.navbar ul li a {
	position: relative;
	display: flex;
	width: 100%;
	text-decoration: none;
	color: white;
	text-transform: capitalize;
}

.navbar ul li.active a:hover {
	color: chocolate;
}

.navbar ul li a span.icon {
	position: relative;
	min-width: 3.5rem;
	height: 3.5rem;
	line-height: 4rem;
	padding-left: 0.625rem;
	place-items: center center;
}

.navbar ul li a span.icon ion-icon {
	font-size: 1.25rem;
}

.navbar ul li a span.title {
	position: relative;
	padding-left: 0.125rem;
	height: 3.5rem;
	line-height: 3.25rem;
	text-align: center;
	white-space: normal;
}
