/* to add the root styles later on */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inconsolata', monospace;
	font-size: 1rem;
	/* color: black; */
}

body {
	min-height: 100vh;
}

.navbar {
	position: fixed;
	overflow: hidden;
	display: flex;
	top: 1.25rem;
	left: 1.25rem;
	bottom: 1.25rem;
	width: 5rem;
	border-radius: 0.625rem;
	box-sizing: initial;
	background: rgb(109, 114, 114);
	transition: width 0.5s linear;
	overflow-x: hidden;
	z-index: 1000;

}

.navbar:hover {
	width: 250px;
	overflow: visible;
}

.navbar > ul {
	position: absolute;
	flex-direction: column;
	display: flex;
	justify-content: space-evenly;
	top: 0;
	left: 0;
	height: 100%;
	margin-left: 0.75rem;
}

.icon {
	position: relative;
	display: table-cell;
	width: 40px;
	height: 20px;
}


.menu-list {
	position: relative;
	display: flex;
	place-items: center center;
	list-style: none;
	width: 250px;
	border-top-left-radius: 1.25rem;
	border-bottom-left-radius: 1.25rem;
}

.menu-list > a {
	display: table;
	border-collapse: collapse;
	border-spacing: 0;
	position: relative;
	width: 100%;
	text-decoration: none;
	color: white;
	text-transform: capitalize;
	transform: translateZ(0) scale(1, 1);
	transition: all 0.1s linear;
	
}

.menu-list.active {
	border-top-left-radius: 1.25rem;
	border-bottom-left-radius: 1.25rem;
	color: blanchedalmond;
	background: chocolate;
}

.menu-list .icon {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	width: 60px;
	height: 60px;
}

.icon ion-icon {
	font-size: 1.25rem;
}

.title {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	/* display: flex; */
	/* flex-direction: row; */
	/* border: 2px solid red;	 */
	text-align: center;
	margin-top: 10px;
}

.menu-list .account {
	position: absolute;
	left: 0;
	bottom: 0;

	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

